.git
.github
.gitignore
.env
.env.*
!.env.example
node_modules
npm-debug.log
tests
phpunit.xml
.phpunit.result.cache
.php-cs-fixer.php
_ide_helper.php
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
public/hot
public/build
!public/build/.gitignore
vendor
.do
*.md
!README.md
docker-compose*.yml
docker-compose*.yaml
.editorconfig
.cursor
